@import "../modules/variables";
@import "../modules/classes";
@import "../modules/mixins";
@import "./breakpoints";

// first section
// changed properties on links box
.add-padd {
    @include responsive(phone-port-lg) { padding-top: $px20; }
    @include responsive(phone-port-md) { padding-top: $px15; }
}
.change-prop {
    width: 433px;
    margin-top: 0;
    padding: $px30 0 0 0;
    @include responsive(tablet-lg) { width: 470px; }
    @include responsive(tablet) { width: 433px; }
    @include responsive(phone-land-sm) {
        width: 374px;
        padding-top: $px20;
        margin-bottom: $px20;
    }
    @include responsive(phone-port-lg) {
        overflow: scroll;
        width: 100%;
        padding-top: 0;
    }
    @include responsive(phone-port-md) { margin-bottom: $px15; }
}
.links-box {
    .delete-underline:hover::after {
        transform: scale(0, 0);
    }
    .hover-effect {
        transition: 0.3s ease;
        &:hover {
            color: $black;
        }
    }
}

// second section
.section-cont {
    .add-padd-top-50 {
        padding-top: $px50;
        @include responsive(tablet) { padding-top: $px40; }
        @include responsive(phone-port-md) { padding-top: $px30; }
        @include responsive(phone-port-sm) { padding-top: $px25; }
    }
}
.shop-cont {
    .change-size-1:last-child {
        margin-top: $px20;
        @include responsive(phone-port-md) { margin-top: $px15; }
        @include responsive(phone-port-sm) { margin-top: $px10; }
        .content-box {
            .img-info {
                // @include responsive(tablet-lg) { flex-wrap: wrap; }
                .no-transform {
                    text-transform: none;
                }
                .for {
                    font-weight: $regular;
                    margin-right: $px7;
                }
            }
        }
        // styles of event page
        .event-box {
            @include responsive(desktop) {
                max-width: 480px;
                margin-right: 0;
            }
            @include responsive(tablet-lg) { max-width: 398px; }
            @include responsive(tablet) { max-width: 100%; }
        }
    }
}