<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/gif" href="{{ url_for('static', filename='images/lens.png') }}" sizes="16x16">
        <script src="https://kit.fontawesome.com/b1609179cd.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lightbox.min.css') }}">
        <title>Unconcept, Varsavia</title>
    </head>
    <body>
        <header class="fixed-header">
            <div class="header-cont">
                <div class="flex-block">
                    <a href="/">
                        <img src="{{ url_for('static', filename='images/photolens.svg') }}" alt="Photolens" class="logo">
                    </a>
                    <nav class="navigation">
                        <ul class="nav-ul">
                            <li>
                                <a class="nav" href="/work">work</a> 
                            </li>
                            <li>
                                <a class="nav" href="/#about">about</a>
                            </li>
                            <li>
                                <a class="nav" href="/shop">shop</a> 
                            </li>
                            <li>
                                <a class="nav min-marg" href="/contact">contact</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="main-menu">
                        <img class="shopping-cart" id="cart-icon" src="{{ url_for('static', filename='images/shopping-cart.svg') }}" alt="Shopping cart">
                        <div class="burger-menu">
                            <span class="bar"></span>    
                            <span class="bar"></span>    
                            <span class="bar"></span>
                        </div>
                    </div>
                    <div class="cart">
                        <div class="cart-header">
                            <h2 class="cart-title">your cart</h2>
                            <img src="{{ url_for('static', filename='images/close-icon.svg') }}" id="close-cart" alt="Close">
                        </div>
                        <div class="cart-divider"></div>
                        <div class="cart-body">
                            <!-- <p class="no-item">no items found.</p> -->
                            <div class="product-box">
                                <img class="product-img" src="../static/images/ying_yang.jpeg" alt="">
                                <div class="product-info">
                                    <div class="text-info">
                                        <h4 class="title">ying yang</h4>
                                        <h5 class="location">los angeles</h5>
                                        <p class="size">size: 70x100cm</p>
                                        <div class="remove-btn">remove</div>
                                    </div>
                                    <div class="number-info">
                                        <span class="price">$ 0 usd</span>
                                        <input class="quantity" type="number" value="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cart-divider"></div>
                        <div class="cart-footer">
                            <div class="total">
                                <div class="total-title">subtotal</div>
                                <div class="total-price">$ 0 usd</div>
                            </div>
                            <button type="button" class="btn-buy">continue to checkout</button>
                        </div>
                    </div>
                    <div class="background"></div>
                </div>
            </div>
        </header>
        <section class="first-section">
            <div class="text-content">
                <h2 class="content-title" style="text-transform: capitalize;">unconcept</h2>
                <div class="info-box unconcept-info">
                    <div class="photo-info">
                        <img src="{{ url_for('static', filename='images/shutter.svg') }}" class="info-icon" alt="Shutter">
                        <p class="small-par">1/1000s</p>
                    </div>
                    <div class="photo-info">
                        <img src="{{ url_for('static', filename='images/lens.svg') }}" class="info-icon" alt="Photolens">
                        <p class="small-par">f/14</p>
                    </div>
                    <div class="photo-info">
                        <img src="{{ url_for('static', filename='images/iso.svg') }}" class="info-icon" alt="ISO">
                        <p class="small-par">400</p>
                    </div>
                    <div class="photo-info">
                        <img src="{{ url_for('static', filename='images/location.svg') }}" class="info-icon" alt="Location">
                        <p class="small-par">Varsavia</p>
                    </div>
                </div>
                <p class="content-text">
                    Lorem ipsum dolor sit amet consectetur adipiscin eli a sit
                    facilisis volutpat interdum non a magna tempus amet.
                </p>
            </div>
        </section>
        <section>
            <div class="section-cont">
                <a href="/category/landscape" class="back-link add-padd-top-50">
                    <i class="fa-solid fa-angle-left"></i>
                    <h6 class="page-name">landscape</h6>
                </a>
            </div>
            <div class="section-cont shop-cont">
                <div class="content-block change-size-1">
                    <div class="cart-box">
                        <h3>unconcept, varsavia</h3>
                        <p>Lorem ipsum dolor sit amet consectetur
                            adipiscin eli a sit facilisis volutpat interdum
                            non a magna tempus amet.
                        </p>
                        <form class="form">
                            <label for="size" class="label">size</label>
                            <select name="sizes" id="sizes" class="select-field" required>
                                <option selected value value="select-size">Select Size</option>
                                <option value="size-1">70x100cm</option>
                                <option value="size-2">50x70cm</option>
                                <option value="size-3">40x60cm</option>
                                <option value="size-4">30x40cm</option>
                            </select>
                            <label for="quantity" class="label">quantity</label>
                            <input type="number" class="quantity-input" inputmode="numeric" name="quantity" id="quantity" min="1" value="1">
                            <input type="button" class="add-cart" name="submit" id="submit" value="add to cart">
                        </form>
                    </div>
                    <div class="images-box">
                        <a href="../static/images/img-120.jpg" data-lightbox="mygallery"><img src="{{ url_for('static', filename='images/img-120.jpg') }}" alt="Unconcept"></a>
                        <a href="../static/images/img-121.jpeg" data-lightbox="mygallery"><img src="{{ url_for('static', filename='images/img-121.jpeg') }}" alt="Unconcept"></a>
                        <a href="../static/images/img-122.jpeg" data-lightbox="mygallery"><img src="{{ url_for('static', filename='images/img-122.jpeg') }}" style="margin-bottom: 0;" alt="Unconcept"></a>
                    </div>
                </div>
            </div>
            <div class="divider min-px"></div>
        </section>
        <footer>
            <div class="footer-box">
                <div class="social-icons">
                    <a href="https://www.facebook.com/" target="blank">
                        <i class="fab fa-facebook-f icon"></i>
                    </a>
                    <a href="https://twitter.com/" target="blank">
                        <i class="fab fa-twitter icon"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="blank">
                        <i class="fab fa-instagram icon"></i>
                    </a>
                </div>
                <p class="small-paragraph">© Photolens created by <a href="https://github.com/gigaamiridze" class="author-link" target="blank">Giga Amiridze</a></p>
            </div>
        </footer>
        <script src="{{ url_for('static', filename='js/lightbox-plus-jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/shopping-cart.js') }}"></script>
        <script src="{{ url_for('static', filename='js/burger-menu.js') }}"></script>
    </body>
</html>