// header container properties
$header-width: 610px;
$auto-center: 0 auto;

// section container width
$section-width: 1170px;
$divider-width: 1170px;

// pixels
$px1: 1px;
$px2: 2px;
$px3: 3px;
$px4: 4px;
$px5: 5px;
$px6: 6px; 
$px7: 7px;
$px8: 8px;
$px9: 9px;
$px10: 10px;
$px12: 12px;
$px13: 13px;
$px14: 14px;
$px15: 15px;
$px16: 16px;
$px17: 17px;
$px18: 18px;
$px20: 20px;
$px22: 22px;
$px23: 23px;
$px24: 24px;
$px25: 25px;
$px26: 26px;
$px27: 27px;
$px28: 28px;
$px30: 30px;
$px32: 32px;
$px34: 34px;
$px35: 35px; 
$px36: 36px;
$px38: 38px;
$px40: 40px;
$px42: 42px;
$px45: 45px;
$px46: 46px;
$px48: 48px;
$px50: 50px;
$px52: 52px;
$px55: 55px;
$px60: 60px;
$px68: 68px;
$px70: 70px;
$px71: 71px;
$px72: 72px;
$px80: 80px;
$px96: 96px;
$px100: 100px;
$px153: 153px;

// colors
$black: #222222;
$black-1: #333333;
$white: #FFFFFF;
$gray: #C7C7C7;
$gray-1: #bec4c7;
$gray-2: #9ca0a2;
$gray-3: #edf2f5;
$gray-4: #cccccc;
$dark-gray: #45484a;

// font family
$inter: 'Inter', sans-serif;
$playFair: 'Playfair Display', serif;
$fredoka: 'Fredoka', sans-serif;

// font weights
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-font: 900;

// text tansforms
$upper: uppercase;
$lower: lowercase;
$capit: capitalize;